@import '@/styles/config';

.pageTitle {
  text-transform: capitalize;
  color: $brown;
  font-weight: 900;
  margin-bottom: 1rem;
}

.workPageWrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;

  @include tablet {
    grid-template-columns: repeat(2, 1fr);
  }

  @include mobile-p {
    grid-template-columns: repeat(1, 1fr);
  }
}
