@import "@/styles/config";

.wrapper {
  padding: 1.5rem 3rem;
  max-width: 1700px;
  margin-left: auto;
  margin-right: auto;

  @include mobile-l {
    padding: 1.5rem 1.5rem;
  }
}

.top {
  padding-top: 5rem;
}

.centre {
  display: flex;
  flex-direction: column;
  align-items: center;
}
