@import '@/styles/config';

.galleryWrapper {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  gap: 1rem;
}

.mainImage {
  width: 100%;
  height: auto;
}
.galleryStripWrapper {
  width: 100%;
  height: 150px;
  overflow: hidden;
  display: flex;
  justify-content: center;
}
.galleryStrip {
  border: 2px solid $brown;
  border-radius: 8px;
  display: flex;
  overflow: scroll;
  width: fit-content;
  height: fit-content;
}

.minorImage {
  height: 100px;
  width: auto;
  cursor: pointer;

  @include mobile-l {
    height: 75px;
  }
}
