@import '@/styles/config';

.galleryWrapper {
  height: fit-content;
  position: relative;
}

.image {
  width: 100vw;
  height: auto;
}
.navWrapper {
  position: absolute;
  z-index: 9;
  top: 0;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  top: 50%;
  transform: translate(0, -50%);
  padding: 2rem;
}
.navButton {
  width: 50px;
  height: 50px;
  border-radius: 12px;
  background-color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: ease-in-out all 0.2s;

  &:hover {
    transform: scale(1.1);
  }
}
