@import '@/styles/config';

.galleryWrapper {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
}

.mainImage {
  width: 100%;
  height: auto;
  padding-bottom: 1rem;
}
.galleryStripWrapper {
  width: 100%;
  height: 150px;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.swiperContainer {
  width: 100%;
}

.swiperControls {
  display: flex;
  gap: 4rem;
  padding-right: 3rem;
  margin-left: auto;
  cursor: pointer;
}
