@import '@/styles/config';

.fullWidthImageWrapper {
  width: 100%;
  height: 100%;
  padding-top: 2rem;
  padding-bottom: 2rem;

  @include tablet {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}

.image {
  width: 100%;
  height: auto;
}
