@import '@/styles/config';

.titlePageWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  gap: 2rem;
  min-height: calc(100vh - 75px);

  @include tablet {
    flex-direction: column;
    margin-top: 4rem;
  }
}

.wrapper {
  flex: 1 0 50%;
}

.image {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  img {
    transition: ease-in-out all 0.3s;
    &:hover {
      box-shadow: rgba(62, 63, 67, 0.45) -18.3928px -9.21685px 37px -17px;
      transform: translateY(-5px);
    }
  }
}

.title {
  font-family: Sansita;
  font-size: 32px;
  font-weight: 900;
  color: $brown;
  margin-top: 1rem;
}
