@import '@/styles/config';

.videoGalleryWrapper {
  min-height: calc(100dvh - 75px);
}

.selectedVideoWrapper {
  margin-bottom: 2rem;
}
.swiperWrapper {
  position: relative;
}
.leftGradient {
  background-image: linear-gradient(to right, #ddd1c2, transparent);
  position: absolute;
  height: 100%;
  width: 150px;
  z-index: 10;
  pointer-events: none;
}

.rightGradient {
  background-image: linear-gradient(to right, transparent, #ddd1c2);
  position: absolute;
  height: 100%;
  width: 150px;
  z-index: 10;
  right: 0;
  top: 0;
  pointer-events: none;
}

.title {
  text-transform: capitalize;
  padding-top: 1rem;
}

.description {
  white-space: pre-wrap;
}

.navWrapper {
  position: absolute;
  z-index: 11;
  top: 0;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  top: 50%;
  transform: translate(0, -50%);
  padding: 2rem;
}

.navButton {
  width: 50px;
  height: 50px;
  border-radius: 12px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: ease-in-out all 0.2s;
  border: 2px solid #fff;
}
